.gradle
/local.properties
.idea/
*.iml
/build
/app/build
/captures
.externalNativeBuild
.cxx

*.pdf
*.tex

/Imagens Aplicação/
/imgs/
/Omnivoice/
/presentation/
/presentation/audios/
APRESENTACAO_REQUISITOS_AUTOTARGET.txt
